/* Michael Osgood / GifTastic  */

body {
	font: 20px times, sans-serif;
	background: #00ff00;
	color: #ff00bf;
}

#searches {
	width: 70%;
}

#search-input {
	background-color: #00ffff;
}

.search-item {
	float: left;
	padding: 10px;
}
input[type="text"] {
	width: 100%;
}

button,
input[type="submit"] {
	background-color: #00ffff;
	margin-top: 15%;
	color: #ff00bf;
	padding: 5px 20px;
	font-size: 20px;
	margin: 15px 5px 5px 15px;
}

button:hover,
input[type="submit"]:hover {
	background: #0040ff;
}

button.active {
	background: #0040ff;
}