/* Michael Osgood / GifTastic  */

body {
	font: 20px times, sans-serif;
	background: #d3d3d3;
	color: #000000;
}

#logo {
	padding-left: 10%;
	padding-right: 10%;
	background-color: #d3d3d3;
}

#searches {
	width: 70%;
}

#search-input {
	background-color: #00ff4f;
}

.search-item {
	float: left;
	padding: 10px;
}
input[type="text"] {
	width: 100%;
}

button,
input[type="submit"] {
	background-color: #00ff4f;
	margin-top: 15%;
	color: #000000;
	padding: 5px 20px;
	font-size: 20px;
	margin: 15px 5px 5px 15px;
}

button:hover,
input[type="submit"]:hover {
	background: #0040ff;
}

button.active {
	background: #0040ff;
}
button:hover,
input[type="submit"]:hover {
  background: #334e4d;
}

button.active {
  background: #334e4d;
}
